body{
    font-family: 'Helvetica Neue', Helvetica, Sans-serif;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    -webkit-animation: colortransition 120s infinite;
    animation: colortransition 120s infinite;
}


@-webkit-keyframes colortransition {
    0% {background: #00ADEF;}
    20% {background: #8CC646;}
    40% {background: #FCB414;}
    60%  {background: #F16A73;}
    80%  {background: #EF4822;}
    100%  {background: #684293;}
}

a, a:hover, a:visited{
    color: white;
}
a{
    text-decoration: none;
}

h1{
    padding-top: 2em;
    padding-bottom: 2em;
}